<div class="card">
  <p-dataView [value]="filteredGhosts" layout="grid">
    <ng-template pTemplate="header">
      <div style="font-size: 140%; text-align: center">List of ghosts</div>
      <br />
      <div style="text-align: center">Check your clues</div>
      <br />
      <!-- CLUES -->
      <div class="p-grid">
        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.ghost_orb"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">Ghost orb</label>
        </div>

        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.ghost_writting"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">Ghost writting</label>
        </div>

        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.fingerprints"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">Fingerprints</label>
        </div>

        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.emf_level_5"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">EMF level 5</label>
        </div>

        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.freezing_temperature"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">Freezing temperatures</label>
        </div>
        <div class="p-col p-field-checkbox">
          <p-checkbox
            [(ngModel)]="clues.spirit_box"
            binary="true"
            inputId="binary"
            (onChange)="onChangeClue()"
          ></p-checkbox>
          <label for="binary">Spirit box</label>
        </div>
      </div>
    </ng-template>

    <ng-template let-ghost pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="center bigger bold">
            <div>
              <span>{{ ghost.name | titlecase }}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img [src]="ghost.img_url" [alt]="ghost.name" class="myImg" />
            <div class="product-description bold green">
              {{ ghost.weakness }}
            </div>
            <div class="product-description bold red">
              {{ ghost.strength }}
            </div>
          </div>
          <div class="product-grid-item-bottom">
            <div>{{ ghost.description }}</div>
          </div>
        </div>
      </div>
    </ng-template>

    <p-footer>
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-footer>
  </p-dataView>
</div>
